@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import "./reset.css";

body {
    margin: 0;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 70px;
    font-style: normal;
    font-size: 24px;
    height: 100%; /* body 요소에 높이를 100%로 설정 */
    overflow-y: auto; /* 세로 스크롤을 활성화하여 필요할 때만 스크롤이 나타나도록 설정 */
}
html {
    height: 100%; /* HTML 요소에 높이를 100%로 설정 */
  }
  
header, footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}

.comment {
    margin-top: 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.orange-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.orange-button:hover {
    background-color: darkorange;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px; /* 라벨 아래쪽 공백 */
    font-weight: bold;
}

.input-container textarea {
    width: calc(100% - 20%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px !important; /* 텍스트 영역 위쪽 공백 */
}


.input-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.email-input {
    width: calc(100% - 65%);
}

.name-input {
    width: calc(100% - 65%);
}
